
@{
    Layout = null;
    ViewBag.Title = "Index";
}

<h2>Matriz de N x N</h2>
<form method="post">
    <label for="dimension">Introduce la dimension (N): </label>
    <input type="number" id="dimension" name="dimension" min="1" required/>
    <button type="submit">Generar Matriz</button>
</form>

@if (ViewBag.Matriz != null)
{
    int[,] matriz = (int[,])ViewBag.Matriz;
    int dimension = ViewBag.Dimension;

    <h3>MAtriz de Dimensión @dimension x @dimension</h3>
    <table border="1">
        @for (int i = 0; i < dimension; i++)
                {
                    <tr>
                        @for (int j = 0; j < dimension; j++)
                    {
                        <td>@matriz[i,j]</td>
                    }
                    </tr>
                }
    </table>
}

